.chatContainer
  position: absolute
  width: 97%
  display: flex
  height: 87.5%
  // background: rgba(37, 126, 110, 0.39)
  .mainHero
    flex: 1
    display: flex
    justify-content: center
    align-self: center
    .hero
      max-height: 40vw
  .chatBox
    flex: 1
    align-items: flex-end
    border-radius: 20px
    background: rgba(182, 191, 203, 0.34)
    overflow-y: scroll
